@media(min-width:700px) and (max-width:1000px){
    .todo-container{
        width: 80%;
    }
    .input-container{
        width: 65%;
    }
}

@media(max-width:700px){
    .date-container{
        display: none;
    }
    .input-container{
        width: 80%;
    }
    .status{
        gap: 15px;
    }
    .todo-container{
        width: 100%;
    }
}